<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>
      {% block title %}
      {% endblock %}
    </title>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="container">
      <a href="/"><img src="{{ url_for('static', filename='logo.png')}}" id="logo" height="160px"></a>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container-fluid">
               <div class="navbar-header">
                  <a class="navbar-brand" href="#"></a>
               </div>
               <div class = "collapse navbar-collapse" id = "collapsibleNavbar">
                  <ul class="navbar-nav">
                     <li class = "nav-item"><a class = "nav-link" href="/">Home</a></li>
                     <li class = "nav-item"><a class = "nav-link" href="/problems">Problems</a></li>
                     <li class = "nav-item"><a class = "nav-link" href="/leaderboard">Leaderboard</a></li>
                     <li class = "nav-item"><a class = "nav-link" href="/logout">Logout</a></li>
                  </ul>
               </div>
            </div>
         </nav>
       </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
     <center><b> &copy; copyright 2019 by GeneralNonCooperative</b></center>
    {% endblock %}

  </body>
</html>
